<mat-expansion-panel
  (opened)="isOpened = true"
  (closed)="isOpened = false"
  class="postion-relative"
>
  <mat-expansion-panel-header>
    <mat-panel-title>
      {{ booking.date | date }}
    </mat-panel-title>
    <mat-panel-description>
      <span *ngIf="!isOpened">{{ booking.session | titlecase }}</span>
    </mat-panel-description>
  </mat-expansion-panel-header>
  <div
    class="d-flex flex-column flex-sm-row justify-content-between position-relative pt-5"
  >
    <mat-chip-list style="position: absolute; top: -10px; right: 10px">
      <mat-chip
        [ngClass]="{
          'bg-success': booking.isCompleted,
          'bg-warning': !booking.isCompleted
        }"
        >{{ booking.isCompleted ? "Completed" : "Not yet completed" }}</mat-chip
      >
    </mat-chip-list>
    <table cellpadding="10px" style="font-size: 16px">
      <tr>
        <th>No. of guests</th>
        <td class="text-right">{{ booking.guests }}</td>
      </tr>
      <tr>
        <th>Session</th>
        <td class="text-right">{{ booking.session | titlecase }}</td>
      </tr>

      <tr>
        <th>Timeslot</th>
        <td class="text-right">{{ booking.timeslot }}</td>
      </tr>
      <tr>
        <th>Total</th>
        <td class="text-right">{{ booking.total | currency }}</td>
      </tr>
    </table>
    <mat-list role="list" *ngIf="location" class="position-relative">
      <mat-list-item
        style="height: 40px; font-size: 16px"
        *ngFor="let address of location.address; let i = index"
      >
        <mat-icon mat-list-icon class="text-muted mr-2" *ngIf="i === 0"
          >location_on</mat-icon
        >
        <mat-icon mat-list-icon class="text-muted mr-2" *ngIf="i === 1"
          >traffic</mat-icon
        >
        <mat-icon mat-list-icon class="text-muted mr-2" *ngIf="i === 2"
          >emoji_transportation</mat-icon
        >
        <mat-icon mat-list-icon class="text-muted mr-2" *ngIf="i === 3"
          >location_city</mat-icon
        >
        {{ address }}</mat-list-item
      >
    </mat-list>
    <!-- <ul style="list-style: none; position: relative" >

    </ul> -->
  </div>
</mat-expansion-panel>
