<div
  class="container-fluid main-cover position-relative"
  *ngIf="!isLoading && newHotel"
>
  <div
    class="row align-items-center justify-content-center justify-content-md-around mt-5 mb-5 pt-1 pt-md-5 pb-3 pb-md-5"
    style="height: fit-content"
  >
    <div
      class="d-none d-md-block col-md-6 col-lg-7 col-xl-8"
      style="width: 100%; height: fit-content"
    >
      <div class="wrapper pl-5">
        <div class="card bg-dark" *ngIf="newHotel">
          <img
            [src]="
              newHotel.imageUrl || './../../../assets/background/auth-bg.jpg'
            "
          />
          <div class="descriptions">
            <h1>{{ newHotel.location | titlecase }}</h1>
            <p class="mt-3">
              {{ newHotel.desc }}
            </p>
            <button class="ad-btn" (click)="routeToReserve(newHotel._id)">
              <i class="fab fa-youtube"></i>
              Visit
            </button>
          </div>
        </div>
      </div>
    </div>
    <div class="col-auto col-md-6 col-lg-5 col-xl-4 p-0">
      <div class="booking-card bg-light p-4 mr-md-5 ml-md-5 position-relative">
        <h2 class="topic font-weight-bold">Let us serve you better</h2>
        <p class="mb-1">Don’t wait in a line to enjoy your meal.</p>
        <p>Reserve a table in advance with us.</p>

        <mat-form-field color="primary" class="d-block position-relative mt-3">
          <mat-label>Location</mat-label>
          <mat-select
            [(ngModel)]="booking.location._id"
            (ngModelChange)="updateLocation(booking.location._id)"
          >
            <div *ngFor="let location of availableLocations">
              <mat-option [value]="location._id">
                {{ location.name }}</mat-option
              >
            </div>
          </mat-select>
          <mat-icon matSuffix class="text-muted"> location_on </mat-icon>
        </mat-form-field>
        <mat-form-field color="primary" class="d-block position-relative">
          <mat-label>No. of guests</mat-label>
          <input
            matInput
            type="number"
            min="1"
            max="9"
            [(ngModel)]="booking.guests"
            (ngModelChange)="updateBookingDetails()"
          />
          <mat-icon matSuffix class="text-muted"> supervisor_account </mat-icon>
        </mat-form-field>

        <mat-form-field color="primary" class="d-block position-relative">
          <mat-label>Date</mat-label>
          <input
            matInput
            [matDatepicker]="picker"
            (focus)="picker.open()"
            (click)="picker.open()"
            [min]="now"
            (ngModelChange)="updateBookingDetails()"
            [(ngModel)]="booking.date"
          />
          <mat-datepicker-toggle
            matSuffix
            [for]="picker"
          ></mat-datepicker-toggle>
          <mat-datepicker #picker></mat-datepicker>
          <!-- <mat-icon matSuffix class="text-muted"> date_range </mat-icon> -->
        </mat-form-field>
        <p class="text-muted">Session</p>
        <mat-chip-list style="width: 100%">
          <mat-chip
            color="warn"
            class="d-inline-flex"
            (click)="sessionChange('lunch')"
            [ngClass]="{ 'bg-dark text-light': booking.session === 'lunch' }"
            >Lunch</mat-chip
          >
          <mat-chip
            color="warn"
            class="d-inline-flex"
            (click)="sessionChange('dinner')"
            [ngClass]="{ 'bg-dark text-light': booking.session === 'dinner' }"
            >Dinner</mat-chip
          >
        </mat-chip-list>
        <p class="text-muted mt-3">Session</p>
        <mat-chip-list style="width: 100%">
          <mat-chip
            *ngFor="let timeslot of availableTimeslots"
            class="d-inline-flex"
            (click)="timeslotChange(timeslot)"
            [ngClass]="{ 'bg-dark text-light': booking.timeslot === timeslot }"
            >{{ timeslot }}</mat-chip
          >
        </mat-chip-list>

        <button
          mat-raised-button
          class="custom-book-table d-flex justify-content-center"
          [disabled]="!bookingValid()"
          (click)="routeToReserve(booking.location._id)"
        >
          <img
            src="./../../../assets/icons/dish.png"
            width="50px"
            height="50px"
          />
          <p class="mb-0 font-weight-bold">Book Table</p>
        </button>
      </div>
    </div>
  </div>
</div>
<div class="row" *ngIf="!isLoading && topTodaySpecial.length">
  <div class="gdlr-core-pbf-column-content clearfix mt-5">
    <div class="gdlr-core-pbf-element">
      <div
        class="gdlr-core-title-item gdlr-core-item-pdb clearfix gdlr-core-center-align gdlr-core-title-item-caption-top gdlr-core-item-pdlr"
        style="padding-bottom: 25px"
      >
        <div class="gdlr-core-title-item-title-wrap">
          <h1
            class="gdlr-core-title-item-title gdlr-core-skin-title"
            style="
              font-size: 35px;
              font-weight: 600;
              letter-spacing: 0px;
              text-transform: none;
              color: #fff;
            "
          >
            Today's Special<span
              class="gdlr-core-title-item-title-divider gdlr-core-skin-divider"
            ></span>
          </h1>
        </div>
      </div>
    </div>
    <div class="gdlr-core-pbf-element">
      <div
        class="gdlr-core-divider-item gdlr-core-divider-item-normal gdlr-core-item-pdlr gdlr-core-center-align"
      >
        <div class="gdlr-core-divider-container" style="max-width: 35px">
          <div
            class="gdlr-core-divider-line gdlr-core-skin-divider"
            style="
              border-color: #8c8c8c;
              border-width: 3px;
              width: 100px;
              transform: translateX(-50%);
            "
          ></div>
        </div>
      </div>
    </div>
  </div>
  <div class="col-12 d-flex flex-wrap justify-content-center">
    <app-dish
      [small]="false"
      *ngFor="let todaySpecial of topTodaySpecial"
      [dish]="todaySpecial"
    ></app-dish>
  </div>
</div>
<div class="row pb-5" *ngIf="!isLoading && specialOffers.length">
  <div class="gdlr-core-pbf-column-content clearfix mt-5">
    <div class="gdlr-core-pbf-element">
      <div
        class="gdlr-core-title-item gdlr-core-item-pdb clearfix gdlr-core-center-align gdlr-core-title-item-caption-top gdlr-core-item-pdlr"
        style="padding-bottom: 25px"
      >
        <div class="gdlr-core-title-item-title-wrap">
          <h1
            class="gdlr-core-title-item-title gdlr-core-skin-title"
            style="
              font-size: 35px;
              font-weight: 600;
              letter-spacing: 0px;
              text-transform: none;
              color: #fff;
            "
          >
            Special Offers<span
              class="gdlr-core-title-item-title-divider gdlr-core-skin-divider"
            ></span>
          </h1>
        </div>
      </div>
    </div>
    <div class="gdlr-core-pbf-element">
      <div
        class="gdlr-core-divider-item gdlr-core-divider-item-normal gdlr-core-item-pdlr gdlr-core-center-align"
      >
        <div class="gdlr-core-divider-container" style="max-width: 35px">
          <div
            class="gdlr-core-divider-line gdlr-core-skin-divider"
            style="
              border-color: #8c8c8c;
              border-width: 3px;
              width: 100px;
              transform: translateX(-50%);
            "
          ></div>
        </div>
      </div>
    </div>
  </div>
  <div class="col-12 d-flex flex-wrap justify-content-center">
    <div class="content-wrapper">
      <app-offer
        *ngFor="let offer of specialOffers"
        [offer]="offer"
      ></app-offer>
    </div>
  </div>
</div>

<div
  class="row justify-content-center align-items-center loading-indicator m-0"
  *ngIf="isLoading"
>
  <div class="col-auto">
    <div class="body">
      <span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
      </span>
      <div class="base">
        <span></span>
        <div class="face"></div>
      </div>
    </div>
    <div class="longfazers">
      <span></span>
      <span></span>
      <span></span>
      <span></span>
    </div>
    <h3 class="font-weight-bold">Fetching resources...</h3>
  </div>
</div>
