.main-cover {
  width: 100%;
  min-height: 100vh;
  overflow: hidden;
  /* background-image: radial-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.9)), url(./../../../assets/background/green_1.jpg); */
  /* background-image: url(./../../../assets/video/bg-1.gif); */
  background-size: cover;
  /* backdrop-filter: blur(10px); */
}

.booking-card {
  width: 50vw;
  min-width: 300px;
  max-width: 350px;
  padding-bottom: 60px !important;
  border-radius: 10px;
}

.booking-control {
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
}

.booking-control .input {
  width: 100%;
  height: 50px;
  border: none;
  border-radius: 125px;
  box-shadow: inset 1px 1px 5px black, 2px 2px 3px silver;
  text-align: center;
}

.booking-control .label {
  color: grey;
  position: absolute;
  top: 50%;
  left: 10px;
  transform: translateY(-50%);
  font-size: 16px;
  z-index: 0;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}

.div-container {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.line {
  flex: 1;
}

.text {
  padding-left: 10px;
  padding-right: 10px;
}

/* ::ng-deep tr.ng-star-inserted:first-child {
  position: absolute;
  top: -10px;
}

::ng-deep tr.ng-star-inserted:last-child {
  position: absolute;
  top: 40px;
} */
.custom-book-table,
.custom-book-table[disabled] {
  width: 100px;
  height: 100px;
  border-radius: 125px;
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translate(-50%, 50%);
  background-color: orange !important;
}


.loading img,
.not-found img {
  width: 70%;
  max-width: 350px;
  min-width: 280px;
  margin: 20px;
}

.mat-raised-button.mat-button-disabled {
  background-color: silver;
  color: black;
}

mat-chip {
  cursor: pointer;
}

.dish-search {
  width: 100%;
  height: 50px;
  border: none;
  border-radius: 50px;
  box-shadow: inset 5px 5px 5px silver,
    1px 1px 2px silver;

}

.dish-search-cover button[mat-icon-button] {
  position: absolute;
  top: 5px;
  right: 20px;
}

.cart-cover {
  top: 50px;
  right: 50px;
  z-index: 10;
}

::ng-deep .mat-select-arrow,
::ng-deep .mat-form-field.mat-focused.mat-primary .mat-select-arrow {
  color: transparent !important;
}

.container-fluid {
  background-image: radial-gradient(rgba(0, 0, 0, 0.5), rgb(0, 0, 0)), url(./../../../assets/background/auth-bg.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
