<mat-toolbar color="primary" class="justify-content-between">
  <img class="logo-img" src="./../../../assets/logo/logo-only.jpg" />
  <button mat-icon-button class="d-md-none" (click)="emit()">
    <mat-icon>menu</mat-icon>
  </button>
  <div
    class="row nav d-none d-md-flex flex-nowrap justify-content-around align-items-baseline"
    style="width: 75%; max-width: 700px"
  >
    <a
      class="col-auto nav-item position-relative"
      [routerLink]="['/', 'home']"
      routerLinkActive="active"
      [routerLinkActiveOptions]="{ exact: true }"
    >
      Home
      <hr class="position-absolute" />
    </a>
    <a
      class="col-auto nav-item"
      [routerLink]="['/', 'home', 'reserve']"
      routerLinkActive="active"
    >
      Reservation
      <hr class="position-absolute" />
    </a>
    <a
      class="col-auto nav-item"
      [routerLink]="['/', 'home', 'today-specials']"
      routerLinkActive="active"
    >
      Today's Specials
      <hr class="position-absolute" />
    </a>
    <a
      class="col-auto nav-item"
      [routerLink]="['/', 'home', 'offers']"
      routerLinkActive="active"
    >
      Special Offers
      <hr class="position-absolute" />
    </a>
    <button class="col-auto" mat-icon-button [mat-menu-trigger-for]="menu">
      <mat-icon>person</mat-icon>
    </button>
  </div>
</mat-toolbar>

<mat-menu #menu="matMenu">
  <button mat-menu-item>
    <mat-icon>person</mat-icon>
    <span>My account</span>
  </button>
  <button mat-menu-item>
    <mat-icon>shopping_cart</mat-icon>
    <span>Booking History</span>
  </button>
  <button mat-menu-item>
    <mat-icon>login</mat-icon>
    <span>Logout</span>
  </button>
</mat-menu>
