<div>
  <div class="flip-card-container" [ngClass]="{ small: small }">
    <div class="flip-card">
      <div class="card-front">
        <figure>
          <div class="img-bg"></div>
          <img src="./../../../assets/todays/meat.jpg" alt="Image 2" />
          <figcaption class="text-uppercase font-weight-bold">
            Chettinad Roast
          </figcaption>
        </figure>

        <ul style="padding-right: -10px !important">
          <li>No.4005, HAL 2nd stage</li>
          <li>100 feet road</li>
          <li>Indiranagar</li>
          <li>Bangalore</li>
        </ul>
      </div>

      <div class="card-back">
        <figure>
          <div class="img-bg"></div>
          <img src="./../../../assets/todays/meat.jpg" alt="image-2" />
        </figure>

        <button class="today-btn">Reserve</button>

        <div class="design-container">
          <span class="design design--1"></span>
          <span class="design design--2"></span>
          <span class="design design--3"></span>
          <span class="design design--4"></span>
          <span class="design design--5"></span>
          <span class="design design--6"></span>
          <span class="design design--7"></span>
          <span class="design design--8"></span>
        </div>
      </div>
    </div>
  </div>
</div>
