<mat-sidenav-container
  class="main"
  (window:resize)="validatePlatform()"
  *ngIf="!isLoading"
>
  <mat-sidenav
    #sidenav
    disableClose
    [fixedInViewport]="true"
    [position]="'end'"
  >
    <div class="final-cart bg-dark">
      <button mat-icon-button class="close" (click)="sidenav.toggle()">
        <mat-icon>close</mat-icon>
      </button>
      <div class="row m-0">
        <div class="col-12">
          <h1 class="font-weight-bold mt-5 ml-5">Reservation Details</h1>
        </div>
        <div class="col-12 p-5 m-0 confirmation">
          <div class="d-flex">
            <mat-icon class="">location_on</mat-icon>
            <p class="ml-2">
              <span class="address">9/622 a Kattukalam, Vedichipalayam</span>
              <span class="address">Nerur South</span>
              <span class="address">Karur</span>
            </p>
          </div>
          <p class="d-flex align-items-center">
            <mat-icon class="mr-2">date_range</mat-icon>
            {{ booking.date | date }}
          </p>
          <p class="d-flex align-items-center">
            <mat-icon class="mr-2">schedule</mat-icon>
            {{ booking.timeslot }}
          </p>
        </div>
        <div class="col-12">
          <mat-card class="m-3 pb-0 bg-dark">
            <table style="width: 100%" cellpadding="20px">
              <tr>
                <td class="font-weight-bold">No. of guests</td>
                <td>{{ booking.guests }}*500</td>
                <td class="text-right font-weight-bold">
                  {{ (booking.guests ? booking.guests : 0) * 500 | currency }}
                </td>
              </tr>
              <tr>
                <td class="font-weight-bold">Sub Total</td>
                <td colspan="2" class="text-right font-weight-bold">
                  {{ booking.total | currency }}
                </td>
              </tr>
            </table>
            <p class="d-flex align-items-center m-3">
              <mat-icon>new_releases</mat-icon>
              <span class="font-weight-bold ml-2">Apply Offers</span>
            </p>

            <div class="row p-5 bg-light">
              <div
                class="col-12 d-flex justify-content-between align-items-center"
              >
                <span>Total</span>
                <span class="font-weight-bold" style="font-size: 16px">{{
                  booking.total | currency
                }}</span>
              </div>
            </div>

            <div class="row mt-4 p-5 justify-content-center">
              <div class="col-auto mb-5">
                <button
                  mat-raised-button
                  (click)="sidenav.toggle()"
                  class="custom-book-table d-flex justify-content-center"
                >
                  <img
                    src="./../../../assets/icons/dish.png"
                    width="50px"
                    height="50px"
                  />
                  <p class="mb-0 font-weight-bold">Book Table</p>
                </button>
              </div>
            </div>
          </mat-card>
        </div>
      </div>
    </div>
  </mat-sidenav>
  <mat-sidenav-content class="pb-5">
    <section
      class="cart-section d-flex justify-content-around align-items-center pb-2 position-relative"
    >
      <div class="cart-details" *ngIf="!mobileBookingTableVisibility">
        <div class="scroll-content pt-5 pb-5 pl-1 pr-1 p-sm-5">
          <h1 class="font-weight-bold mt-5 mb-2">Cuisines</h1>
          <mat-tab-group mat-align-tabs="center" color="accent">
            <mat-tab label="Veg" class="">
              <mat-accordion>
                <mat-expansion-panel
                  *ngFor="let item of cuisines; let i = index"
                  [expanded]="i === 0"
                >
                  <mat-expansion-panel-header>
                    <mat-panel-title>
                      {{ item.dish | titlecase }}
                    </mat-panel-title>
                    <mat-panel-description *ngIf="item.sub.length">
                      {{ item.sub.length }} items
                    </mat-panel-description>
                  </mat-expansion-panel-header>
                  <mat-expansion-panel
                    *ngFor="let subItem of item.sub"
                    class="disabled-pointer"
                    [hideToggle]="true"
                  >
                    <mat-expansion-panel-header>
                      <img
                        [src]="subItem.imageUrl"
                        width="40px"
                        height="40px"
                        style="position: absolute; left: 5px; top: 5px"
                      />
                      <mat-panel-title class="pl-5">
                        {{ subItem.dish | titlecase }}
                      </mat-panel-title>
                    </mat-expansion-panel-header>
                  </mat-expansion-panel>
                </mat-expansion-panel>
              </mat-accordion>
            </mat-tab>
            <mat-tab label="Non Veg">
              <mat-accordion>
                <mat-expansion-panel
                  *ngFor="let item of cuisines; let i = index"
                  [expanded]="i === 0"
                >
                  <mat-expansion-panel-header>
                    <mat-panel-title>
                      {{ item.dish | titlecase }}
                    </mat-panel-title>
                    <mat-panel-description *ngIf="item.sub.length">
                      {{ item.sub.length }} items
                    </mat-panel-description>
                  </mat-expansion-panel-header>
                  <mat-expansion-panel
                    *ngFor="let subItem of item.sub"
                    class="disabled-pointer"
                    [hideToggle]="true"
                  >
                    <mat-expansion-panel-header>
                      <img
                        [src]="subItem.imageUrl"
                        width="40px"
                        height="40px"
                        style="position: absolute; left: 5px; top: 5px"
                      />
                      <mat-panel-title class="pl-5">
                        {{ subItem.dish | titlecase }}
                      </mat-panel-title>
                    </mat-expansion-panel-header>
                  </mat-expansion-panel>
                </mat-expansion-panel>
              </mat-accordion>
            </mat-tab>
          </mat-tab-group>
        </div>
      </div>
      <button
        *ngIf="!mobileBookingTableVisibility && mobile"
        mat-raised-button
        (click)="mobileBookingTableVisibility = true"
        class="custom-book-table position-absolute d-block d-md-none justify-content-center"
        style="top: 10px; right: 20px; left: unset; transform: none"
      >
        <img
          src="./../../../assets/icons/dish.png"
          width="50px"
          height="50px"
        />
        <p class="mb-0 font-weight-bold">Book Table</p>
      </button>
      <div
        *ngIf="mobileBookingTableVisibility || !mobile"
        class="checkout mt-4 mt-md-0 d-flex align-items-center justify-content-center"
        style="width: 50%; height: 100%; max-width: 400px"
      >
        <div class="booking-card bg-light p-4 position-relative">
          <button
            *ngIf="mobileBookingTableVisibility && mobile"
            (click)="mobileBookingTableVisibility = false"
            mat-icon-button
            class="position-absolute"
            style="top: -5px; right: -5px"
          >
            <mat-icon>close</mat-icon>
          </button>
          <h2 class="topic font-weight-bold">Let us serve you better</h2>
          <p class="mb-1">Don’t wait in a line to enjoy your meal.</p>
          <p>Reserve a table in advance with us.</p>

          <mat-form-field
            color="primary"
            class="d-block position-relative mt-3"
          >
            <mat-label>Location</mat-label>
            <mat-select
              [(ngModel)]="booking.location._id"
              (ngModelChange)="updateLocation(booking.location._id)"
            >
              <div *ngFor="let location of availableLocations">
                <mat-option [value]="location._id">
                  {{ location.name }}</mat-option
                >
              </div>
            </mat-select>
            <mat-icon matSuffix class="text-muted"> location_on </mat-icon>
          </mat-form-field>
          <mat-form-field color="primary" class="d-block position-relative">
            <mat-label>No. of guests</mat-label>
            <input
              matInput
              type="number"
              min="1"
              max="9"
              [(ngModel)]="booking.guests"
              (ngModelChange)="updateBookingDetails()"
            />
            <mat-icon matSuffix class="text-muted">
              supervisor_account
            </mat-icon>
          </mat-form-field>

          <mat-form-field color="primary" class="d-block position-relative">
            <mat-label>Date</mat-label>
            <input
              matInput
              [matDatepicker]="picker"
              (focus)="picker.open()"
              (click)="picker.open()"
              [min]="now"
              (ngModelChange)="updateBookingDetails()"
              [(ngModel)]="booking.date"
            />
            <mat-datepicker-toggle
              matSuffix
              [for]="picker"
            ></mat-datepicker-toggle>
            <mat-datepicker #picker></mat-datepicker>
            <!-- <mat-icon matSuffix class="text-muted"> date_range </mat-icon> -->
          </mat-form-field>
          <p class="text-muted">Session</p>
          <mat-chip-list style="width: 100%">
            <mat-chip
              color="warn"
              class="d-inline-flex"
              (click)="sessionChange('lunch')"
              [ngClass]="{ 'bg-dark text-light': booking.session === 'lunch' }"
              >Lunch</mat-chip
            >
            <mat-chip
              color="warn"
              class="d-inline-flex"
              (click)="sessionChange('dinner')"
              [ngClass]="{ 'bg-dark text-light': booking.session === 'dinner' }"
              >Dinner</mat-chip
            >
          </mat-chip-list>
          <p class="text-muted mt-3">Timeslots</p>
          <mat-chip-list style="width: 100%">
            <mat-chip
              *ngFor="let timeslot of availableTimeslots"
              class="d-inline-flex"
              (click)="timeslotChange(timeslot)"
              [ngClass]="{
                'bg-dark text-light': booking.timeslot === timeslot
              }"
              >{{ timeslot }}</mat-chip
            >
          </mat-chip-list>

          <button
            mat-raised-button
            class="custom-book-table d-flex justify-content-center"
            [disabled]="!bookingValid()"
            (click)="proceedBooking()"
          >
            <img
              src="./../../../assets/icons/dish.png"
              width="50px"
              height="50px"
            />
            <p class="mb-0 font-weight-bold">Book Table</p>
          </button>
        </div>
      </div>
    </section>
  </mat-sidenav-content>
</mat-sidenav-container>

<div
  class="row justify-content-center align-items-center loading-indicator m-0"
  *ngIf="isLoading"
>
  <div class="col-auto">
    <div class="body">
      <span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
      </span>
      <div class="base">
        <span></span>
        <div class="face"></div>
      </div>
    </div>
    <div class="longfazers">
      <span></span>
      <span></span>
      <span></span>
      <span></span>
    </div>
    <h3 class="font-weight-bold">Fetching resources...</h3>
  </div>
</div>
