.booking-card {
  width: 50vw;
  min-width: 300px;
  max-width: 350px;
  padding-bottom: 60px !important;
  border-radius: 10px;
}

.booking-control {
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
}

.booking-control .input {
  width: 100%;
  height: 50px;
  border: none;
  border-radius: 125px;
  box-shadow: inset 1px 1px 5px black, 2px 2px 3px silver;
  text-align: center;
}

.booking-control .label {
  color: grey;
  position: absolute;
  top: 50%;
  left: 10px;
  transform: translateY(-50%);
  font-size: 16px;
  z-index: 0;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}

.div-container {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.line {
  flex: 1;
}

.text {
  padding-left: 10px;
  padding-right: 10px;
}

.custom-book-table,
.custom-book-table[disabled] {
  width: 100px;
  height: 100px;
  border-radius: 125px;
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translate(-50%, 50%);
  background-color: orange !important;
  color: black;
}

section {
  width: 100%;
  height: 100vh;

}

.avatar {
  width: 150px;
  height: 150px;
  border-radius: 100%;
}

.cart {
  box-shadow: 0px 0px 5px grey;
}

.small {
  font-size: 12px !important;
}

.total-cost {
  position: absolute;
  top: 50%;
  right: 0;
  transform: translateY(-100%);
}

.cart-details {
  width: 50%;
  min-height: fit-content;
  height: 100%;
  overflow-y: scroll;
}

@media only screen and (max-width:767px) {
  .cart-details {
    width: 100%;
  }

  .cart-section {
    height: fit-content;
  }
}

.close {
  position: absolute;
  top: 0px;
  right: -80px;
}

.cuisine-list {
  border-bottom: 2px solid silver;
}

.empty img {
  width: 70%;
  max-width: 350px;
  min-width: 280px;
  margin: 20px;
}

.disabled-pointer {
  pointer-events: none;
}

mat-expansion-panel {
  box-shadow: none !important;

}

::ng-deep .mat-expansion-panel-body {
  padding-right: 0px !important;
}

::ng-deep .mat-select-arrow,
::ng-deep .mat-form-field.mat-focused.mat-primary .mat-select-arrow {
  color: transparent !important;
}

.final-cart {
  position: relative;
  width: 70vw;
  height: fit-content;
  min-height: 100vh;
  max-width: 600px;
}

@media only screen and (max-width:767px) {
  .final-cart {
    width: 100vw;
    max-width: none;
  }
}

.close {
  position: absolute;
  top: 10px;
  left: 15px;
  z-index: 10;
}

.confirmation,
.main {
  background: radial-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.9)),
    url(./../../../assets/background/auth-bg.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  color: white;
}

.address {
  display: block;
}

.example-header-image {
  background-image: url('https://material.angular.io/assets/img/examples/shiba1.jpg');
  background-size: cover;
}

mat-tab-group {
  z-index: -1;
}

table {
  font-family: initial;
}

tr {
  margin: 20px 0px;
}

::ng-deep .mat-tab-list .mat-tab-labels .mat-tab-label-active,
::ng-deep .mat-tab-list .mat-tab-labels .mat-tab-label {
  background-color: rgba(0, 0, 0, 0.6);
  color: white;
  font-weight: bold;
  border-radius: 5px 5px 0px 0px;
}

.position-fixed-booking {
  position: fixed;
  top: 0px;
  left: 0px;
  right: 0px;
  bottom: 0px;
  width: 100vw;
  min-height: 100vh;
}

.position-fixed-booking .booking-card {
  z-index: 100;
  width: 100vw;
  min-height: 100vh;
}
