:host {
  display: block;
  margin: 10px;
}

::ng-deep .mat-select-arrow,
::ng-deep .mat-form-field.mat-focused.mat-primary .mat-select-arrow {
  color: transparent !important;
}

.custom-book-table,
.custom-book-table[disabled] {
  width: 100px;
  height: 100px;
  border-radius: 125px;
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translate(-50%, 50%);
  background-color: orange !important;
  color: black;
}
