.search-bar {
  position: relative;
}

.search-bar input {
  width: 100%;
  height: 50px;
  border: none;
  border-radius: 50px;
  box-shadow: inset 5px 5px 5px silver, 1px 1px 2px silver;
}

.search-bar button[mat-icon-button] {
  position: absolute;
  top: 5px;
  right: 20px;
}

.rotate {
  animation: rotationAnimation 1000ms infinite linear;
}

@keyframes rotationAnimation {
  0% {
    transform: rotate(0deg);
  }

  50% {
    transform: rotate(180deg);
  }

  100% {
    transform: rotate(360deg);
  }
}
