main {
  width: 100%;
  min-height: 100vh;
}

header {
  box-shadow: 1px 2px 5px white;
}

.router-outlet {
  min-height: calc(100vh - 100px);
  /* background-color: #181818; */
  z-index: -1;
}

nav {
  width: 50vw;
  min-width: 220px;
  max-width: 400px;
  min-height: 100vh;
  color: white !important;
}

.mat-divider {
  border-top-color: #ffffff1a;
}
