<div class="row">
  <div class="gdlr-core-pbf-column-content clearfix mt-5">
    <div class="gdlr-core-pbf-element">
      <div
        class="gdlr-core-title-item gdlr-core-item-pdb clearfix gdlr-core-center-align gdlr-core-title-item-caption-top gdlr-core-item-pdlr"
        style="padding-bottom: 25px"
      >
        <div class="gdlr-core-title-item-title-wrap">
          <h1
            class="gdlr-core-title-item-title gdlr-core-skin-title"
            style="font-weight: 600"
          >
            Seasonal Offers<span
              class="gdlr-core-title-item-title-divider gdlr-core-skin-divider"
            ></span>
          </h1>
        </div>
      </div>
    </div>
    <div class="gdlr-core-pbf-element">
      <div
        class="gdlr-core-divider-item gdlr-core-divider-item-normal gdlr-core-item-pdlr gdlr-core-center-align"
      >
        <div class="gdlr-core-divider-container" style="max-width: 35px">
          <div
            class="gdlr-core-divider-line gdlr-core-skin-divider"
            style="
              border-color: #8c8c8c;
              border-width: 3px;
              width: 100px;
              transform: translateX(-50%);
            "
          ></div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="row justify-content-center">
  <div class="col-auto" *ngFor="let item of ['', '', '']">
    <app-offer></app-offer>
  </div>
</div>
<div class="row">
  <div class="gdlr-core-pbf-column-content clearfix mt-5">
    <div class="gdlr-core-pbf-element">
      <div
        class="gdlr-core-title-item gdlr-core-item-pdb clearfix gdlr-core-center-align gdlr-core-title-item-caption-top gdlr-core-item-pdlr"
        style="padding-bottom: 25px"
      >
        <div class="gdlr-core-title-item-title-wrap">
          <h1
            class="gdlr-core-title-item-title gdlr-core-skin-title"
            style="font-weight: 600"
          >
            Current Offers<span
              class="gdlr-core-title-item-title-divider gdlr-core-skin-divider"
            ></span>
          </h1>
        </div>
      </div>
    </div>
    <div class="gdlr-core-pbf-element">
      <div
        class="gdlr-core-divider-item gdlr-core-divider-item-normal gdlr-core-item-pdlr gdlr-core-center-align"
      >
        <div class="gdlr-core-divider-container" style="max-width: 35px">
          <div
            class="gdlr-core-divider-line gdlr-core-skin-divider"
            style="
              border-color: #8c8c8c;
              border-width: 3px;
              width: 100px;
              transform: translateX(-50%);
            "
          ></div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="row justify-content-center">
  <div class="col-auto">
    <app-offer></app-offer>
  </div>
</div>
