/* You can add global styles to this file, and also import other style files */

html,
body {
  height: 100%;
}

body {
  margin: 0;
}

* {
  box-sizing: border-box;
  font-family: 'Varela Round',
    sans-serif;
  outline: none !important;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Varela Round',
    sans-serif !important;
}

.bg-dark {
  background-color: #151515 !important;
  color: white;
}

.bg-light {
  background-color: #f5f5f5 !important;
  color: black;
}

*::-webkit-scrollbar {
  width: 0px !important;
  height: 0px !important;
}

*::-webkit-scrollbar-track {
  background-color: white !important;
}

*::-webkit-scrollbar-thumb {
  border-radius: 100px !important;
  background-color: rgba(192, 192, 192, 0.5) !important;
}

.gdlr-core-pbf-column-content {
  position: relative;
  margin-left: auto;
  margin-right: auto;
  min-height: 1px;
}

.clearfix {
  zoom: 1;
}

.gdlr-core-pbf-element {
  clear: both;
}

.gdlr-core-title-item .gdlr-core-title-item-title,
.gdlr-core-title-item .gdlr-core-title-item-title a {
  color: #383838;
}

.gdlr-core-title-item .gdlr-core-title-item-caption {
  color: #747474;
}

.gdlr-core-title-item .gdlr-core-title-item-title {
  font-size: 41px !important;
  color: #8c8c8c !important;
}

.gdlr-core-title-item .gdlr-core-title-item-title,
.gdlr-core-title-item .gdlr-core-title-item-title a {
  color: #383838;
}

.gdlr-core-title-item .gdlr-core-title-item-caption {
  color: #747474;
}

.gdlr-core-title-item .gdlr-core-title-item-title i {
  margin-right: 30px;
}

.gdlr-core-title-item .gdlr-core-title-item-title-wrap {
  position: relative;
}

.gdlr-core-title-item .gdlr-core-title-item-divider {
  position: absolute;
  top: 50%;
  margin-top: -1px;
  border-bottom-width: 1px;
  border-bottom-style: solid;
}

.gdlr-core-title-item .gdlr-core-title-item-divider.gdlr-core-left {
  left: 0px;
}

.gdlr-core-title-item .gdlr-core-title-item-divider.gdlr-core-right {
  right: 0px;
}

.gdlr-core-title-item .gdlr-core-title-item-link {
  display: block;
  margin-top: 12px;
}

.gdlr-core-item-pdb {
  padding-bottom: 30px;
}

.gdlr-core-center-align {
  text-align: center;
}

.gdlr-core-blockquote-item.gdlr-core-medium-size.gdlr-core-center-align .gdlr-core-blockquote-item-quote {
  margin-bottom: -16px;
}

.gdlr-core-blockquote-item.gdlr-core-large-size.gdlr-core-center-align .gdlr-core-blockquote-item-quote {
  margin-bottom: -22px;
}

.gdlr-core-column-service-item.gdlr-core-center-align .gdlr-core-column-service-title-wrap {
  margin-bottom: 15px;
}

.gdlr-core-column-service-item.gdlr-core-center-align .gdlr-core-column-service-media {
  margin-bottom: 28px;
}

.gdlr-core-alert-box-item.gdlr-core-center-align .gdlr-core-alert-box-item-title {
  display: inline-block;
}

.gdlr-core-alert-box-item.gdlr-core-center-align .gdlr-core-alert-box-item-icon {
  display: inline-block;
  text-align: left;
  vertical-align: middle;
}

.gdlr-core-block-item-title-wrap.gdlr-core-center-align .gdlr-core-block-item-caption.gdlr-core-top {
  margin-bottom: 5px;
}

.gdlr-core-block-item-title-wrap.gdlr-core-center-align .gdlr-core-block-item-caption.gdlr-core-bottom {
  margin-top: 5px;
}

.gdlr-core-block-item-title-wrap.gdlr-core-center-align .gdlr-core-block-item-read-more {
  display: inline-block;
  margin-top: 10px;
}

.gdlr-core-personnel-style-grid.gdlr-core-center-align .gdlr-core-personnel-list-divider {
  margin-left: auto;
  margin-right: auto;
}

.gdlr-core-social-share-top-text.gdlr-core-center-align .gdlr-core-divider {
  margin-left: auto;
  margin-right: auto;
}

.gdlr-core-testimonial-item .gdlr-core-flexslider-nav.gdlr-core-center-align .flex-direction-nav {
  margin-top: 40px;
  margin-bottom: 0px;
}

.gdlr-core-flexslider-nav.gdlr-core-center-align .flex-direction-nav {
  display: inline-block;
  line-height: 1;
}

.gdlr-core-title-item-caption-top.gdlr-core-left-align .gdlr-core-title-item-link,
.gdlr-core-title-item-caption-bottom.gdlr-core-left-align .gdlr-core-title-item-link {
  position: absolute;
  right: 0px;
  top: 50%;
  margin-top: -9px;
  line-height: 25px;
  font-style: italic;
}

.gdlr-core-title-item-caption-top.gdlr-core-left-align .gdlr-core-title-item-link.gdlr-core-overflow,
.gdlr-core-title-item-caption-bottom.gdlr-core-left-align .gdlr-core-title-item-link.gdlr-core-overflow {
  position: static;
  margin-top: 10px;
}

.gdlr-core-title-item-caption-top .gdlr-core-title-item-caption {
  margin-bottom: 10px;
}

.apzo-item-pdlr,
.gdlr-core-item-pdlr {
  padding-left: 20px;
  padding-right: 20px;
}

.apzo-item-rvpdlr,
.gdlr-core-item-rvpdlr {
  margin-left: -20px;
  margin-right: -20px;
}

.gdlr-core-metro-rvpdlr {
  margin-top: -20px;
  margin-right: -20px;
  margin-bottom: -20px;
  margin-left: -20px;
}

.apzo-item-mglr,
.gdlr-core-item-mglr,
.apzo-navigation .sf-menu>.apzo-mega-menu .sf-mega,
.sf-menu.apzo-top-bar-menu>.apzo-mega-menu .sf-mega {
  margin-left: 20px;
  margin-right: 20px;
}

.gdlr-core-pbf-wrapper-container-inner {
  width: calc(100% - 20px - 20px);
}

.gdlr-core-item-pdlr {
  padding-left: 20px;
  padding-right: 20px;
}

.gdlr-core-pbf-wrapper-full-no-space .gdlr-core-item-pdlr {
  padding-left: 0px;
  padding-right: 0px;
}

.gdlr-core-page-builder-body [data-skin="counter-vr"] .gdlr-core-skin-divider {
  border-color: #2c3a8f;
  column-rule-color: #2c3a8f;
  -moz-column-rule-color: #2c3a8f;
  -webkit-column-rule-color: #2c3a8f;
}

.gdlr-core-page-builder-body [data-skin="counter-vr"] .gdlr-core-flexslider.gdlr-core-nav-style-middle-large .flex-direction-nav li a {
  border-color: #2c3a8f
}

.gdlr-core-page-builder-body [data-skin="counter-vr"] .gdlr-core-skin-divider {
  border-color: #2c3a8f;
  column-rule-color: #2c3a8f;
  -moz-column-rule-color: #2c3a8f;
  -webkit-column-rule-color: #2c3a8f;
}

.gdlr-core-page-builder-body [data-skin="Product Contact Form"] .gdlr-core-skin-divider {
  border-color: #f4f4f4;
  column-rule-color: #f4f4f4;
  -moz-column-rule-color: #f4f4f4;
  -webkit-column-rule-color: #f4f4f4;
}

.gdlr-core-divider-item {
  position: relative;
  z-index: 1;
  margin-bottom: 30px;
}

.gdlr-core-divider-item .gdlr-core-divider-container {
  position: relative;
  margin-left: auto;
  margin-right: auto;
}

.gdlr-core-divider-item.gdlr-core-left-align .gdlr-core-divider-container {
  margin-left: 0px;
}

.gdlr-core-divider-item.gdlr-core-right-align .gdlr-core-divider-container {
  margin-right: 0px;
}

.gdlr-core-divider-item-normal .gdlr-core-divider-line {
  border-bottom-width: 1px;
  border-bottom-style: solid;
}

.gdlr-core-divider-item-normal.gdlr-core-style-vertical .gdlr-core-divider-line {
  border-bottom: 0px;
  width: 0px;
  height: 25px;
  border-left-width: 1px;
  border-left-style: solid;
  margin-left: auto;
  margin-right: auto;
}

.gdlr-core-divider-item-normal.gdlr-core-style-vertical.gdlr-core-left-align .gdlr-core-divider-line {
  margin-left: 0.6em;
}

.gdlr-core-divider-item-normal.gdlr-core-style-vertical.gdlr-core-right-align .gdlr-core-divider-line {
  margin-right: 0.6em;
}

.gdlr-core-divider-item-normal.gdlr-core-style-vertical .gdlr-core-divider-line-vertical-text {
  writing-mode: tb-rl;
  display: inline-block;
  font-size: 12px;
  text-transform: uppercase;
  font-weight: bold;
  letter-spacing: 1px;
  margin-top: 12px;
  -webkit-transform: rotate(180deg);
  -moz-transform: rotate(180deg);
  -o-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  transform: rotate(180deg);
}

.gdlr-core-divider-item-normal.gdlr-core-style-vertical .gdlr-core-divider-line-vertical-icon {
  margin-bottom: 8px;
}

.gdlr-core-divider-item-normal.gdlr-core-style-vertical.gdlr-core-left-align .gdlr-core-divider-line-vertical-text {
  margin-left: 0px;
}

.gdlr-core-divider-item-normal.gdlr-core-style-vertical.gdlr-core-right-align .gdlr-core-divider-line-vertical-text {
  margin-right: 0px;
}

.gdlr-core-divider-item-with-icon .gdlr-core-divider-item-with-icon-inner {
  position: relative;
  text-align: center;
  line-height: 1;
}

.gdlr-core-divider-item-with-icon .gdlr-core-divider-line {
  border-bottom-width: 1px;
  border-bottom-style: solid;
}

.gdlr-core-divider-item-with-icon .gdlr-core-divider-line.gdlr-core-left {
  position: absolute;
  top: 50%;
  left: 0px;
}

.gdlr-core-divider-item-with-icon .gdlr-core-divider-line.gdlr-core-right {
  position: absolute;
  top: 50%;
  right: 0px;
}

.gdlr-core-divider-item-with-icon i {
  display: inline-block;
  padding-left: 20px;
  padding-right: 20px;
  font-size: 15px;
}

.gdlr-core-divider-item-with-icon img {
  width: auto;
  vertical-align: middle;
  display: inline-block;
  padding-left: 20px;
  padding-right: 20px;
}

.gdlr-core-divider-item-small-center .gdlr-core-divider-line {
  width: 100px;
  margin: 0px auto;
  border-bottom-width: 1px;
  border-bottom-style: solid;
}

.gdlr-core-divider-item-small-center .gdlr-core-divider-line-bold {
  content: " ";
  display: block;
  width: 40px;
  margin: 0px auto -2px;
  border-bottom-width: 3px;
  border-bottom-style: solid;
}

.gdlr-core-divider-item-small-left .gdlr-core-divider-line {
  width: 80px;
  margin: 0px auto 0px 0px;
  border-bottom-width: 1px;
  border-bottom-style: solid;
}

.gdlr-core-divider-item-small-left .gdlr-core-divider-line-bold {
  content: " ";
  display: block;
  width: 40px;
  margin: 0px auto -2px 0px;
  border-bottom-width: 3px;
  border-bottom-style: solid;
}

.gdlr-core-divider-item-small-right .gdlr-core-divider-line {
  width: 80px;
  margin: 0px 0px 0px auto;
  border-bottom-width: 1px;
  border-bottom-style: solid;
}

.gdlr-core-divider-item-small-right .gdlr-core-divider-line-bold {
  content: " ";
  display: block;
  width: 40px;
  margin: 0px 0px -2px auto;
  border-bottom-width: 3px;
  border-bottom-style: solid;
}

.loading-indicator {
  width: 100vw;
  height: 100vh;
  background-color: #080808;
}

.loading-indicator .col-auto h3 {
  position: absolute;
  top: 50px;
  left: 50%;
  margin-left: -20px;
  transform: translateX(-30%);
  white-space: nowrap;
  color: white;
}

.loading-indicator .col-auto .body {
  position: absolute;
  top: 50%;
  margin-left: -50px;
  left: 50%;
  animation: speeder 0.4s linear infinite;
}

.loading-indicator .col-auto .body>span {
  height: 5px;
  width: 35px;
  background: rgb(255, 255, 255);
  position: absolute;
  top: -19px;
  left: 60px;
  border-radius: 2px 10px 1px 0;
}

.loading-indicator .col-auto .body .base span {
  position: absolute;
  width: 0;
  height: 0;
  border-top: 6px solid transparent;
  border-right: 100px solid white;
  border-bottom: 6px solid transparent;
}

.loading-indicator .col-auto .body .base span:before {
  content: "";
  height: 22px;
  width: 22px;
  border-radius: 50%;
  background: white;
  position: absolute;
  right: -110px;
  top: -16px;
}

.loading-indicator .col-auto .body .base span:after {
  content: "";
  position: absolute;
  width: 0;
  height: 0;
  border-top: 0 solid transparent;
  border-right: 55px solid white;
  border-bottom: 16px solid transparent;
  top: -16px;
  right: -98px;
}

.loading-indicator .col-auto .body .base .face {
  position: absolute;
  height: 12px;
  width: 20px;
  background: white;
  border-radius: 20px 20px 0 0;
  transform: rotate(-40deg);
  right: -125px;
  top: -15px;
}

.loading-indicator .col-auto .body .base .face:after {
  content: "";
  height: 12px;
  width: 12px;
  background: white;
  right: 4px;
  top: 7px;
  position: absolute;
  transform: rotate(40deg);
  transform-origin: 50% 50%;
  border-radius: 0 0 0 2px;
}

.loading-indicator .col-auto .body>span>span:nth-child(1),
.loading-indicator .col-auto .body>span>span:nth-child(2),
.loading-indicator .col-auto .body>span>span:nth-child(3),
.loading-indicator .col-auto .body>span>span:nth-child(4) {
  width: 30px;
  height: 1px;
  background: white;
  position: absolute;
  animation: fazer1 0.2s linear infinite;
}

.loading-indicator .col-auto .body>span>span:nth-child(2) {
  top: 3px;
  animation: fazer2 0.4s linear infinite;
}

.loading-indicator .col-auto .body>span>span:nth-child(3) {
  top: 1px;
  animation: fazer3 0.4s linear infinite;
  animation-delay: -1s;
}

.loading-indicator .col-auto .body>span>span:nth-child(4) {
  top: 4px;
  animation: fazer4 1s linear infinite;
  animation-delay: -1s;
}

@keyframes fazer1 {
  0% {
    left: 0;
  }

  100% {
    left: -80px;
    opacity: 0;
  }
}

@keyframes fazer2 {
  0% {
    left: 0;
  }

  100% {
    left: -100px;
    opacity: 0;
  }
}

@keyframes fazer3 {
  0% {
    left: 0;
  }

  100% {
    left: -50px;
    opacity: 0;
  }
}

@keyframes fazer4 {
  0% {
    left: 0;
  }

  100% {
    left: -150px;
    opacity: 0;
  }
}

@keyframes speeder {
  0% {
    transform: translate(2px, 1px) rotate(0deg);
  }

  10% {
    transform: translate(-1px, -3px) rotate(-1deg);
  }

  20% {
    transform: translate(-2px, 0px) rotate(1deg);
  }

  30% {
    transform: translate(1px, 2px) rotate(0deg);
  }

  40% {
    transform: translate(1px, -1px) rotate(1deg);
  }

  50% {
    transform: translate(-1px, 3px) rotate(-1deg);
  }

  60% {
    transform: translate(-1px, 1px) rotate(0deg);
  }

  70% {
    transform: translate(3px, 1px) rotate(-1deg);
  }

  80% {
    transform: translate(-2px, -1px) rotate(1deg);
  }

  90% {
    transform: translate(2px, 1px) rotate(0deg);
  }

  100% {
    transform: translate(1px, -2px) rotate(-1deg);
  }
}

.loading-indicator .col-auto .longfazers {
  position: absolute;
  width: 100%;
  height: 100%;
}

.loading-indicator .col-auto .longfazers span {
  position: absolute;
  height: 2px;
  width: 20%;
  background: white;
}

.loading-indicator .col-auto .longfazers span:nth-child(1) {
  top: 20%;
  animation: lf 0.6s linear infinite;
  animation-delay: -5s;
}

.loading-indicator .col-auto .longfazers span:nth-child(2) {
  top: 40%;
  animation: lf2 0.8s linear infinite;
  animation-delay: -1s;
}

.loading-indicator .col-auto .longfazers span:nth-child(3) {
  top: 60%;
  animation: lf3 0.6s linear infinite;
}

.loading-indicator .col-auto .longfazers span:nth-child(4) {
  top: 80%;
  animation: lf4 0.5s linear infinite;
  animation-delay: -3s;
}

@keyframes lf {
  0% {
    left: 200%;
  }

  100% {
    left: -200%;
    opacity: 0;
  }
}

@keyframes lf2 {
  0% {
    left: 200%;
  }

  100% {
    left: -200%;
    opacity: 0;
  }
}

@keyframes lf3 {
  0% {
    left: 200%;
  }

  100% {
    left: -100%;
    opacity: 0;
  }
}

@keyframes lf4 {
  0% {
    left: 200%;
  }

  100% {
    left: -100%;
    opacity: 0;
  }
}
