<div class="news-card">
  <img [src]="offer.imageUrl" alt="Christmas off" class="news-card__image" />
  <div class="news-card__text-wrapper">
    <h2 class="news-card__title">{{ offer.name | titlecase }}</h2>
    <div class="news-card__post-date">
      Expires on {{ offer.validTill | date }}
    </div>
    <div class="news-card__details-wrapper">
      <p class="news-card__excerpt">
        {{ offer.desc }}
      </p>
      <a class="news-card__read-more text-center">Redeem</a>
    </div>
  </div>
</div>
