:host {
  display: block;
  height: fit-content;
  background: #151515;
  color: white;
  box-shadow: 0px -3px 7px black;
}

a,
a:hover,
a:active {
  cursor: pointer;
  text-decoration: none;
  font-weight: bold;
  color: white;
}

button[mat-fab] img {
  transform: translateY(-20%);
}
