<!-- Footer -->
<footer class="page-footer font-small stylish-color-dark pt-4">
  <!-- Footer Links -->
  <div class="container text-center text-md-left">
    <!-- Grid row -->
    <div class="row">
      <!-- Grid column -->
      <div class="col-md-4 mx-auto">
        <!-- Content -->
        <h5 class="font-weight-bold text-uppercase mt-3 mb-4">
          <a (click)="adminRoute()">
            <img
              src="./../../../assets/logo/logo-only.jpg"
              width="100px"
              height="100px"
            />
          </a>
        </h5>
        <p>
          We, Smoke Squad team aimed at building an application that should
          handle payments using a decentralised system of blockchain.
        </p>
      </div>
      <!-- Grid column -->

      <hr class="clearfix w-100 d-md-none" />

      <!-- Grid column -->
      <div class="col-md-2 mx-auto pt-5">
        <!-- Links -->
        <!-- <h5 class="font-weight-bold text-uppercase mt-3 mb-4">Links</h5> -->

        <ul class="list-unstyled">
          <li>
            <a href="#!">Careers</a>
          </li>
          <li>
            <a href="#!">Blog</a>
          </li>
          <li>
            <a href="#!">Help and support</a>
          </li>
          <li>
            <a href="#!">Affiliate</a>
          </li>
        </ul>
      </div>
      <!-- Grid column -->

      <hr class="clearfix w-100 d-md-none" />

      <!-- Grid column -->
      <div class="col-md-2 mx-auto pt-5">
        <!-- Links -->
        <!-- <h5 class="font-weight-bold text-uppercase mt-3 mb-4">Links</h5> -->

        <ul class="list-unstyled">
          <li>
            <a href="#!">Terms</a>
          </li>
          <li>
            <a href="#!">Private poicy and cookie policy</a>
          </li>
          <li>
            <a href="#!">Sitemap</a>
          </li>
        </ul>
      </div>
      <!-- Grid column -->

      <hr class="clearfix w-100 d-md-none" />

      <!-- Grid column -->
      <div class="col-md-2 mx-auto pt-5">
        <!-- Links -->
        <!-- <h5 class="font-weight-bold text-uppercase mt-3 mb-4">Links</h5> -->

        <ul class="list-unstyled">
          <li>
            <a href="#!">About us</a>
          </li>
          <li>
            <a href="#!">Contact us</a>
          </li>
          <li>
            <a href="#!">Partner with us</a>
          </li>
          <li>
            <a href="#!">Blog</a>
          </li>
        </ul>
      </div>
      <!-- Grid column -->
    </div>
    <!-- Grid row -->
  </div>
  <!-- Footer Links -->

  <hr />

  <!-- Social buttons -->
  <ul class="list-unstyled list-inline text-center">
    <li class="list-inline-item">
      <button mat-fab>
        <img
          src="./../../../assets/icons/facebook.svg"
          width="40px"
          height="40px"
        />
      </button>
    </li>
    <li class="list-inline-item">
      <button mat-fab>
        <img
          src="./../../../assets/icons/google-plus.svg"
          width="40px"
          height="40px"
        />
      </button>
    </li>
    <li class="list-inline-item">
      <button mat-fab>
        <img
          src="./../../../assets/icons/instagram.svg"
          width="40px"
          height="40px"
        />
      </button>
    </li>
    <li class="list-inline-item">
      <button mat-fab>
        <img
          src="./../../../assets/icons/twitter.svg"
          width="40px"
          height="40px"
        />
      </button>
    </li>
  </ul>
  <!-- Social buttons -->

  <!-- Copyright -->
  <div class="footer-copyright text-center py-3">
    © 2020 Copyright:
    <a href="#">Smoke Squad BBQ</a>
  </div>
  <!-- Copyright -->
</footer>
<!-- Footer -->
